input[type='submit'], button, [aria-label] {
    cursor: pointer;
    background: rgb(204, 84, 84);
}

body{
    background-color: rgb(103, 161, 98);
}
#editForm {
    display: none;
    
    background-color: blue;
}
/*This handles the css for edeting forms */

table {
    font-family: Arial, sans-serif;
    border: 1px solid;
    border-collapse: collapse;
    background-color: rgb(182, 178, 38);
}
/*This handles the tables*/


th {
    background-color: green;
    padding: 5px;

}

td {
    background-color: greenyellow;
    border: 1px solid;
    padding: 5px;
}

h1{
text-align: center;
}

h3{
text-align: center;
}
#TrueForm{
    margin-left: auto;
    margin-right: auto;
}
table{
    margin-left: auto;
    margin-right: auto;
}